:root {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  background: var(--light-gray);

  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Outfit", sans-serif;
}

img {
  width: 100%;
}

p {
  font-size: 1.5rem;
}
