.card-box {
  background: var(--white);
  width: 25rem;
  border-radius: 20px;
}

.container {
  padding: 1.2rem;
  text-align: center;
}

.card-image {
  border-radius: 10px;
}

.card-title,
.card-description {
  margin: 2rem 0;
  color: var(--dark-blue);
}

.card-title {
  font-weight: 700;
  line-height: 2.3rem;
  font-size: 1.8rem;
}

.card-description {
  font-size: 1.4rem;
  font-weight: 400;
  opacity: 0.6;
}

@media (max-width: 370px) {
  html {
    font-size: 75%;
  }
}
